ny_taxi_pipeline.duckdb
test.py
.DS_Store
yellow_tripdata_2024-10.parquet
taxi_zone_lookup.csv
venv/
pyspark/spark-warehouse/
yellow_tripdata_2024-10_partitioned
bin/
config.ini
keys/
src/
green_tripdata_2019-10.csv
python