apache-beam==2.48.0
apache-flink==1.20.1
apache-flink-libraries==1.20.1
avro-python3==1.10.2
beautifulsoup4==4.13.3
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==2.2.1
confluent-kafka==2.8.2
crcmod==1.7
dill==0.3.1.1
dlt==1.6.1
dlt-pendulum==3.0.2
dnspython==2.7.0
docopt==0.6.2
duckdb==1.2.0
fastavro==1.10.0
fasteners==0.19
find_libpython==0.4.0
fsspec==2025.2.0
gitdb==4.0.12
GitPython==3.1.44
giturlparse==0.12.0
google==3.0.0
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-cloud-storage==3.0.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpcio==1.70.0
grpcio-status==1.70.0
hdfs==2.7.3
hexbytes==1.3.0
httplib2==0.22.0
humanize==4.11.0
idna==3.10
jsonpath-ng==1.7.0
kafka-python==2.0.6
makefun==1.15.6
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.24.4
objsize==0.6.1
orjson==3.10.15
packaging==24.2
pandas==2.2.3
pathvalidate==3.2.3
pemja==0.4.1
pendulum==3.0.0
pluggy==1.5.0
ply==3.11
proto-plus==1.26.0
protobuf==4.23.4
psycopg2==2.9.10
py4j==0.10.9.7
pyarrow==11.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydot==1.4.2
Pygments==2.19.1
pymongo==4.11.2
pyparsing==3.2.1
pyspark==3.5.4
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requirements-parser==0.11.0
rich==13.9.4
rich-argparse==1.7.0
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
semver==3.0.4
simplejson==3.19.3
six==1.17.0
smmap==5.0.2
soupsieve==2.6
SQLAlchemy==2.0.37
tenacity==9.0.0
time-machine==2.16.0
tomlkit==0.13.2
types-setuptools==75.8.0.20250210
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
zstandard==0.23.0
